<!DOCTYPE html>
<html>
    <head>
        <title>MetalDefectDeclassifier</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap" rel="stylesheet">

    </head>

    <body>
        <nav class="navbar">
            <a href="index.html">Home</a>
            <a href="defect.html">Detector</a>
            <a href="aboutus.html">Our Team</a>
            
        </nav>
        <div class="home-head">
        <h1 >Welcome to Western AI</h1>
        <p>We have created a machine learning model that identifies defects in metal hot rolled metal.
        </p>

        </div>

        <div class="about">
            <h2>Project Description</h2>
            <p>
                In the material manufacturing industry, 
                surface defects are an important factor in the quality of a material. 
                In some manufacturing cases, simple surface scratch can initiate crack propagation and cause a structure to fail, thus potentially putting human lives and important asstes at risk. 
                However, having humans inspect for defects in a product is both very expensive, inefficient, and inaccurate way to solve this problem. 
                Using computer vision and machine learning algorithms to detect  defects in cold rolled steel, 
                for example, is a much more accurate way to ensure that materials are produced with high quality
                <br><br>
                By integrating computer vision into manufacturing, companies could increase the amount of
                 high quality products being sold and identify how subtle changes in the manufacturing process are changing the quality of the product.
            </p><br>

            <h2>Project Goals</h2>
            <p><strong>Machine Learning Model: </strong><br><br>
                Using Tenorflow and Keras libraries in Python, our team created a convolutional neural network containing 10 layers that transformed the data and extracted significant features from the dataset.
                This neural network predicted the likeliness of a defect to belong to a certain defect class.
                The data for this project was sourced from the Kaggle dataset "Metal Surface Defects Dataset".
                We trained the model in Google Collab in order to use their cloud GPU's and share the model development with the team.
                We expanded the dataset by using functions functions from Keras that used image rotation, different zoom ranges, and image flipping.
                
                <br><br>
                <strong>Deployment:</strong><br><br>
                To show our work, we decided to create a website using the Flask webframework and allow anyone to test our model.
                Heroku was used to deploy the this website for public viewing.
                Show CUCAI paper <br><br>
                <strong>Technologies: </strong><br><br>
                The website will use Flask as its framework, HTML and Bootstrap for its appearance. Javascript was used to add functionality to the buttons and its appearance.
                </p>

        </div>
        
       
    </body>
</html>
